.homeContainer {
    display: flex;
    flex-direction: column;
    background: url(background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto Flex', sans-serif;
}

.interfaceContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    width: 100%;
}

.inputContainer {
    display: flex;
    align-items: center;
}

.input {
    display: flex;
    height: 50px;
    width: 600px;
    font-size: 25px;
    font-family: 'Roboto Flex', sans-serif;
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 150px;
    border-radius: 2px;
    margin-left: 20px;
    border: none;
    font-size: 20px;
    transition: 0.3s;
    font-family: 'Roboto Flex', sans-serif;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.searchButton:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #e3ffe7 0%, #a7c7ff 100%);
    height: 54px;
    width: 175px;
    border-radius: 2px;
    margin-left: 20px;
    border: none;
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
}

.resultsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}